{% extends 'base.html.twig' %}
{% block title %}Quiz: {{ quiz.title }}{% endblock %}
{% block body %}
<h1>{{ quiz.title }}</h1>
<form method="post">
    {% for question in quiz.questions %}
        <div class="mb-3">
            <h5>{{ loop.index }}. {{ question.prompt }}</h5>
            {% for choice in question.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ question.id }}_{{ loop.index }}" value="{{ choice }}">
                    <label class="form-check-label" for="{{ question.id }}_{{ loop.index }}">{{ choice }}</label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Abschicken</button>
</form>
{% endblock %}
