{% extends 'base.html.twig' %}
{% block title %}Quiz{% endblock %}
{% block body %}
<h1>{{ quiz.title }}</h1>
<form method="post">
    {% for question in quiz.questions %}
        <div class="mb-3">
            <h5>{{ question.question }}</h5>
            {% for answer in question.answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answers[{{ question.id }}]" value="{{ answer }}" id="q{{ loop.parent.loop.index }}{{ loop.index }}">
                    <label class="form-check-label" for="q{{ loop.parent.loop.index }}{{ loop.index }}">{{ answer }}</label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Abschicken</button>
</form>

{% if result %}
    <div class="alert alert-info mt-4">
        <strong>Punkte:</strong> {{ result.correct }} / {{ result.total }} ({{ result.score }}%)
    </div>
{% endif %}
{% endblock %}
